*{
    margin: 0;
    padding: 0;
}
.head{
    height: 40px;
    width: 100%;
    background-color: #333333;
    padding: 0px 0px 0px 100px;
    position: relative;
    z-index: 9999;
}
.float{
    float: left;
}
.border{
    height: 40px;
    background-color: #333333;
    line-height: 20px;
}
.text{
    height: 14px;
    padding: 6px;
    margin: 4px auto;
    font-size: 12px;
    display: inline-block;
    color: #b0b0b0;
}
.margin-left{
    margin-left: 200px;
}
.mabox{
    text-decoration: none;
    font-size: 12px;
    color: #b0b0b0;
    height: 40px;
    line-height: 40px;
}
.erweima-box{
    position: relative;
    top: 0px;
    right: 37px;
    background-color: #fff;
}
.big-mabox:hover{
    color: #fff;
}
.ma{
    width: 124px;
    height: 150px;
    border: 1px solid #b0b0b0;
    border-top: none;
    display: none;
    font-size: 12px;
}
.ma-text{
    color: #000;
    text-align: center;
}
.big-mabox:hover .ma{
    display: block;
    background-color: #fff;
}
.picture{
    width: 90px;
    height: 90px;
}
.picture1{
    padding: 15px 0px 0px 20px;
}
.sanjiao{
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: white;
    position: relative;
    z-index: 999;
    left: 55px;
    top: -13px;
}
.car{
    background-color: #333333;
}
.car-text{
    width: 120px;
    height: 40px;
    font-size: 12px;
    text-decoration: none;
    color: #b0b0b0;
    position: absolute;
    right: 143px;
    text-align: center;
    line-height: 40px;
    top: 0px;
}
.car-box{
    width: 316px;
    height: 100px;
    position: absolute;
    z-index: 888;
    right: 143px;
    top: 40px;
    line-height: 100px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #b0b0b0;
    border-top: none;
    display: none;
}
.car-text:hover{
    color: orangered;
    background-color: #fff;
}
.car-text:hover+.car-box{
    display: block;
    background-color: #fff;
}
/*头部结束*/
.main{
    width: 90%;
    height: 1200px;
    margin: 20px 0px 0px 100px;
}
.up-tubiao{
    width: 55px;
    height: 55px;
    position: relative;
    right: 0px;
    top: 0px;
    float: left;
}
.mitu{
    width: 55px;
    height: 55px;
}
.wenzi-box{
    list-style: none;
}
.up-wenzihezi{
    margin-left: 285px;
    position: relative;
}
.strong{
    font-size: 19px;
    font-weight: border;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
}
.sousu{
    width: 290px;
    height: 55px;
    position: absolute;
    right: 150px;
}
.shuru{
    width: 290px;
    height: 55px;
    border: 1px solid #b0b0b0;
}
/*中部左边*/
.middle-left{
    width: 294px;
    height: 500px;
    background-color: #060A12;
    position: relative;
    top: 75px;
}
.middle-left-box{
    list-style: none;
    width: 294px;
    height: 500px;
}
.middle-left-wenzi{
    padding-left: 20px;
    width: 294px;
    height: 40px;
    box-sizing: border-box;
}
.neibuwenzi{
    color: #fff;
    text-decoration: none;
}